body{
	padding-top: 90px;
	background: #F7F7F7;
	color: #666666;
	font-family: 'Roboto',sans-serif;
	font-weight: 100;
	width: 100%;
	background: -webkit-linear-gradient(left,#ff5252,#ffeb3b);
	background: linear-gradient(to right, #ff5252, #ffeb3b);
	background-size: 600% 100%;
	-webkit-animation: regiBG 10s ease infinite;
	animation:regiBG 20s ease infinite;
}

@-webkit-keyframes regiBG{
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: 100% 0;
	}
	100%{
		background-position: 0 100%;
	}
}

@keyframes regiBG{
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: 100% 0;
	}
	100%{
		background-position: 0 100%;
	}
}

.panel{
	border-radius: 5px;
}

.panel-register{
	border: none;
	-webkit-box-shadow:0px 0px 49px 14px rgba(188,190,194,0.39);
	-moz-box-shadow:0px 0px 49px 14px rgba(188,190,194,0.39);
	box-shadow:0px 0px 49px 14px rgba(188,190,194,0.39);
}

.btn-register{
	background-color: #E8E9EC;
	outline: none;
	color: #2D3B55;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}

.btn-register:hover, .btn-register:focus{
	color: #fff;
	background-color: #2D3B55;
}