body{
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
}

#userform{
	margin: 20px;
	border:1px solid grey;
	width: 950px;
}

.fa-user-circle{
	margin-top: 40px;
	padding-left: 65px;
}

.out-wrapper{
	margin-top: 40px;
	margin-left: -15px;
}

.account-name{
	font-size: 1.5em;
	color:#1b75bb;
}
.fa-pencil{
	color: #1b75bb;
	cursor:pointer;
	padding-left: 15px;
}

.fa-check-circle-o{
	color: #53b983;
	padding-left: 15px;
	margin-left: 13px;
}

.text{
	display: block;
	margin-top: 25px;
	margin-bottom: -14px;
	font-size: 1.3em;
	color:#98fb98;
}

#ui_fa-pencil{
	font-size: 0.5em;
	margin-left: 520px;
}



.modal-dialog{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
}
