.content{
	position: relative;
	width: 960px;
	height: 630px;
	margin: 20px;
	padding: 20px;
	border: 1px solid grey;
}

.section-head{
	width: 910px;
	height: 41px;
	border: 1px solid red;
}

#headRow{
	margin-left: 60px;
	padding-top: 3px;
	/*border: 1px solid pink;*/
}
.filters{
	/*position: absolute;
	top:20px;
	left: 20px;*/
	font-size: 1.05em;
}

.selectpicker{
/*	position: absolute;
	top:15px;
	left: 95px;*/
	width: 150px;
	height: 30px;
	border-radius: 5px; 
}

.serchcondition{
	/*position: absolute;
	top:15px;
	left: 255px;*/
	height: 30px;
}

.section-content{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 910px;
	height: 485px;
	border: 1px solid orange;
}

.section-footer{
	width: 910px;
	height: 50px;
	border: 1px solid pink;
}

#footerRow{
	margin:3px 10px;
	height: 40px;
}

.jpager-right{
	float: left;
	width: 170px;
}

.pagination{
	margin-top: 5px;
}

.jpager-left{
	margin: 13px 8px;
	float: left;
	color: #1b75bb;
	font-size: 1em;
}