.content{
	position: relative;
	width: 960px;
	height: 630px;
	margin: 20px;
	padding: 20px;
	border: 1px solid grey;
}

.section-head{
	width: 910px;
	height: 41px;
	/*border: 1px solid red;*/
}

#headRow{
	margin-left: 60px;
	padding-top: 3px;
	/*border: 1px solid pink;*/
}
.filters{
	/*position: absolute;
	top:20px;
	left: 20px;*/
	font-size: 1.05em;
}

.selectpicker{
/*	position: absolute;
	top:15px;
	left: 95px;*/
	width: 150px;
	height: 30px;
	border-radius: 5px; 
}

.serchcondition{
	/*position: absolute;
	top:15px;
	left: 255px;*/
	height: 30px;
}

.cutter{
	margin-left: 20px;
	margin-right: 35px;
	margin-bottom: 10px;
	color: #696969;

}

.section-content{
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 3px;
	width: 910px;
	height: 435px;
	/*border: 1px solid orange;*/
}
.topicMod{
	width: 900px;
	height: 475px;
	/*border: 1px solid grey;*/
}

.listItem{
	margin-top: 5px;
	margin-right: 10px;
	width: 830px;
	height: 28px;
	/*border: 1px solid red;*/
	background-color: #FFF8DC;
}

.article{
	float: left;
	width: 600px;
	height: 26px;
	/*border: 1px solid green;*/

}
a:link{
	font-size: 1.1em;
	text-decoration: none;
	color: #5CACEE;
}

a:visited{
	color: #616161;
}

a:hover{
	color: #FF8247;
}


.listDate{
	float: right;
	width: 150px;
	height: 26px;
	/*border: 1px solid green;*/
	text-align: center;
	font-size: 1.1em;
	color: #9FB6CD;
}

.section-footer{
	width: 910px;
	height: 54px;
	/*border: 1px solid pink;*/
}

#footerRow{
	margin:3px 10px;
	height: 44px;
	/*border: 1px solid red;*/
}

.jpager-right{
	float: left;
	width: 180px;
}

.pagination{
	margin-top: 5px;
}

.jpager-left{
	margin: 13px 1px;
	float: right;
	color: #1b75bb;
	font-size: 1em;
}